<!DOCTYPE html>
<html>
<head>
  <title>PersonalWire</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="menu">
    <h1>Destinations</h1>
    <%= content_tag(:h2, "Enabled Destinations") %>
    <%= display_enabled_destinations %>
    <%= content_tag(:h2, "Configured Destinations") %>
    <%= display_configured_destinations %>

		<h1>Services</h1>
    <%= content_tag(:h2, "Available Services") %>
    <%= display_available_services %>
    <%= content_tag(:h2, "Unvailable Services") %>
    <%= display_unavailable_services %>
  </div>

<h1>Page Starts Here</h1>

<%= yield %>

</body>
</html>
