<!DOCTYPE html>
<html>
<head>
  <title>PersonalWire</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="menu">
    <%= content_tag(:h2, "Available Destinations") %>
    <%= display_available_destinations %>
    <%= content_tag(:h2, "Unvailable Destinations") %>
    <%= display_unavailable_destinations %>
  </div>

<%= yield %>

</body>
</html>
